In [20]:
import pandas as pd
print("\nStarting Data Cleaning Process...")
file_path = "C:\\Users\\91739\\Downloads\\Telco_Customer_Churn_Dataset  (3).csv"  
df = pd.read_csv(file_path)

Starting Data Cleaning Process...

In [21]:
# Print exact column names to verify
print("\nColumn Names in Dataset:")
print(df.columns)

# Ensure 'TotalCharges' exists in the dataset
df.rename(columns=lambda x: x.strip(), inplace=True)  # Remove spaces if any
if 'TotalCharges' in df.columns:
    df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
else:
    print("\nWarning: 'TotalCharges' column not found. Check dataset headers.")

Column Names in Dataset:
Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [8]:
df.fillna(df.median(numeric_only=True), inplace=True)
print("Missing values handled successfully.")

Missing values handled successfully.

In [10]:
df.drop_duplicates(inplace=True)
print("\nDuplicate records removed")

Duplicate records removed

In [11]:
# Standardizing column names
df.columns = df.columns.str.lower().str.replace(" ", "_")
print("\nColumn names standardized successfully.")

Column names standardized successfully.

In [12]:
print("\nDataset Info After Cleaning:")
df.info()

Dataset Info After Cleaning:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        7043 non-null   object
 1   gender            7043 non-null   object
 2   seniorcitizen     7043 non-null   int64
 3   partner           7043 non-null   object
 4   dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   phoneservice      7043 non-null   object
 7   multiplelines     7043 non-null   object
 8   internetservice   7043 non-null   object
 9   onlinesecurity    7043 non-null   object
 10  onlinebackup      7043 non-null   object
 11  deviceprotection  7043 non-null   object
 12  techsupport       7043 non-null   object
 13  streamingtv       7043 non-null   object
 14  streamingmovies   7043 non-null   object
 15  contract          7043 non-null   object
 16  paperlessbilling  7043 non-null   object
 17  paymentmethod     7043 non-null   object
 18  monthlycharges    7043 non-null   float64
 19  totalcharges      7043 non-null   float64
 20  churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB